@import url("https://fonts.googleapis.com/css?family=Catamaran:300,400,500,600");
html, body {
  margin: 0;
  padding: 0;
  font-family: Catamaran, Arial, sans-serif; }

section#home {
  background: white;
  height: 100vh; }
  section#home .home-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/main.gif");
    background-size: cover;
    background-position: center; }
  section#home #video-background {
    width: 100vw;
    height: 100vh;
    display: none;
    object-fit: cover; }
